# -----------------------------------------------------------------------------
# Telegram bot token
# -----------------------------------------------------------------------------
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

# -----------------------------------------------------------------------------
# LLM API key
# -----------------------------------------------------------------------------
LLM_MODEL_ID=qwen3.5-plus
LLM_API_KEY=YOUR_LLM_API_KEY# API密钥
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1# 服务地址
LLM_TIMEOUT=60# 超时时间（可选，默认60秒）

# -----------------------------------------------------------------------------
# DB settings
# -----------------------------------------------------------------------------
MONGO_USER=USERNAME
MONGO_PASSWORD=PASSWORD

# -----------------------------------------------------------------------------
# Bangumi token
# -----------------------------------------------------------------------------
BANGUMI_TOKEN=YOUR_TOKEN