# -----------------------------------------------------------------------------
# Telegram bot token
# -----------------------------------------------------------------------------
BOT_TOKEN=xxx

# -----------------------------------------------------------------------------
# LLM API key
# -----------------------------------------------------------------------------
LLM_MODEL_ID=qwen3.5-plus
LLM_API_KEY=sk-xxx       # API密钥
LLM_BASE_URL=https://xxx # 服务地址
LLM_TIMEOUT=60           # 超时时间（可选，默认60秒）

# -----------------------------------------------------------------------------
# DB settings
# -----------------------------------------------------------------------------
